.about-txt {
  height: 200px;
  padding-top: 40px;
  max-width: 80%;
  align-items: center;
  align-content: center;
  align-self: center;
  font-family: "Staatliches";
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  color: #e82e37;
}
