footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image__logo--footer {
  width: 125px;
}

.ftr-copyright {
  font-family: 'Staatliches', cursive;
  font-size: 0.8rem;
  border-top: 1px solid #e82e37;
  padding-top: 5px;
  color: #e82e37;
}

.icon {
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 5px;
  border: 1px solid #e82e37;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in;
  &:hover {
    background: #601a1d;
  }
}
.info {
  left: 0; 
}

.email {
  right: 0;
}